[submodule "core_components"]
	path = core_components
	url = https://github.com/valeriorisuleo/react_native-fundamentals
[submodule "02-layout"]
	path = 02-layout
	url = https://github.com/valeriorisuleo/react_native-fundamentals
